@import "../Layout/base.scss";


.section-year {
    grid-column: 0 / 1;
    align-self: end;
}

.section-title {
    
    grid-column: 2 / 7;
    margin-bottom: 0;

}
.section-subtitle {
    // padding-left: $base;
    
    grid-column: 2 / 7;
}