@import "../Layout/base.scss";


.section-year {
    align-self: flex-start;
}

.section-header {
    
    grid-column: 2 / 7;

}
.section-subtitle {
    padding-left: $base;
    grid-column: 2 / 7;
}