@import "../Layout/base.scss";


.section-year {
    align-self: flex-start;
}

.section-header {
    // width: getWidth(5, 12);
    width: 80%; // making this full width for the sake of titles
    align-self: flex-end;
    align-items: flex-start; // Align children at the start of the cross axis (left side)
    justify-content: flex-end; // Align children at the end of the main axis (bottom)
    gap: $base/2;
}
.section-subtitle {
    padding-left: 8px;
}