@import '../Layout/base.scss';

.body-text {
    box-sizing: border-box;
    width: 70%;
    align-self: flex-end;
    padding-right: $base*5;
}

.text {
    // for now
    padding: 30% 0;
    text-align: left;
}