@import "../Layout/base.scss";

.gridContainer {
  padding-top: 50%;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.gridParent {
  display: flex;
  flex-direction: column;
  top: 50vh;
  transform: translateY(-50%); // Adjust for half of the element's height
  position: sticky;
  margin-top: auto;
  margin-bottom: auto; // Allow the sticky element to stay centered
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
