@import "./variables.scss";
@import "./typography.scss";

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.half-column {
  width: getWidth(6, 12);
}


.title-page {
    margin: 0 auto;
  min-height: 100vh;
  width: getGridWidth();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $base * 3;
  align-items: center;
  color: $dark;
}

.section-area {
  
  min-height: 100vh;
  color: $light;
}
