@import "./variables.scss";
@import "./typography.scss";

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.half-column {
  width: getWidth(6, 12);
}

.container {
    margin: 0 auto;
}

.title-page {
  min-height: 100vh;
  width: getGridWidth();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-area {
}
