@import "../Layout/base.scss";

.section-background {
    background-color: $light;
}

.individual-section {
    width: getGridWidth();
    
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: $base*3;   
// for now
    padding-top: $base * 16;
    padding-bottom: $base * 16 ;
}

.gridded-images {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100vw;
    gap: $base;
    margin: 0 $inset;
}

.image-left {
    grid-column: 1 / 6;
    grid-row: 1;
}

.image-right {
    grid-column: 8 / 13;
    grid-row: 2;
}