@import "../Layout/base.scss";

.all-text {
    
    gap: $base * 3;
}

.section-background {
    background-color: $light;
}

.individual-section {
    width: getGridWidth();
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: $base*3;   
// for now
    padding-top: $base * 16;
    padding-bottom: $base * 16 ;
}