@import "../Layout/base.scss";

.imageContainer {
  position: relative;
max-width: 100%;
  box-sizing: border-box;
  height: auto; /* Allow the height to adjust based on the image's aspect ratio */
  padding-bottom: $base*3;
}

.imageContainer > img {
  max-width: 100%;
  object-fit: cover;
}

